.drawer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: var(--zen-drawer-width);
	overflow: auto;
	z-index: 99999;
	background: var(--p-color-bg-fill);
	padding: var(--p-space-card-padding);
	border-left: var(--p-border-width-050) solid var(--p-color-border-secondary);
}
